# Copyright (c) 2026 RT-Thread
# SPDX-License-Identifier: Apache-2.0

config BOARD_TITAN_BOARD_MINI
	select SOC_R7KA8P1KFLCAC_CM85 if BOARD_TITAN_BOARD_MINI_R7KA8P1KFLCAC_CM85
	select SOC_R7KA8P1KFLCAC_CM33 if BOARD_TITAN_BOARD_MINI_R7KA8P1KFLCAC_CM33
