# Copyright (c) 2026 RT-Thread
# SPDX-License-Identifier: Apache-2.0

config BOARD_TITAN_BOARD_MINI
	default y

if BOARD_TITAN_BOARD_MINI

# SDRAM controller is described in DTS and initialized by the MEMC driver.
config MEMC
	default y

endif # BOARD_TITAN_BOARD_MINI
