# Copyright (c) 2026 RT-Thread
# SPDX-License-Identifier: Apache-2.0

config BOARD_TITAN_BOARD_MINI
	default y

if BOARD_TITAN_BOARD_MINI

# SDRAM requires MM_DRV
config MM_DRV
	default y if SDRAM

endif # BOARD_TITAN_BOARD_MINI
